body, html{
    font-family: 'Nunito', sans-serif;
    
}




/*******************BURGER MENU********************/
#BurgerMenuWrapper{
    display: block;
    position: absolute;
    padding: 20px;
    top: 50%;
    z-index: 999;
    cursor: pointer;
}

.BurgerMenuLine{
    width: 25px;
    height: 3px;
    background-color: #b3ff00;
    margin-top: 5px;
    border-radius: 10px;
    transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}

.menu.BurgerMenuAnim{
    animation: tournerBoutonBurger 2s;
}

@keyframes tournerBoutonBurger {
    0% {
        transform: rotate(0deg);
    }
    50%,
    to {
        transform: rotate(360deg);
    }
}


.menu.BurgerMenuAnim .line1{
    transform: translateY(.5em) rotate(45deg);
    background-color: #000000;
}

.menu.BurgerMenuAnim .line2{
    opacity: 0;
    background-color: #000000;
}

.menu.BurgerMenuAnim .line3{
    transform: translateY(-.5em) rotate(-45deg);
    top: 50%;
    background-color: #000000;
}

.checkBurger{
    display: none;
}

/**************************************************/

/****************SIDE MENU************************/

.MenuContainer{
    background-color: red;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 5;
    position: fixed;
    transform: translateX(-100%);
    transition: all cubic-bezier(0, 1.08, 0.58, 1);
    
}

.MenuContainer.MenuAnimEntrer{
    animation: entrerMenu 1s ease-in-out 0s;
    animation-fill-mode:forwards;
}

.MenuContainer.MenuAnimSortie{
    animation: sortieMenu .5s ease-in-out 0s;
    animation-fill-mode:forwards;
}


@keyframes entrerMenu{
    0%{
        transform: translateX(-100%);
        
    }
    100%,
    to{
        transform: translateX(0%);
    }
}

@keyframes sortieMenu{
    0%{
        transform: translateY(0%);
        
    }
    100%,
    to{
        transform: translateY(-100%);
        
    }
}



.navContainer{
    padding-top: 30vh;
    padding-left: 2em;
    font-size: 4em;
    
}

//------- {{ effect-3 }} -------//

.souligner {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    &:before {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: $hover;
      transform:  translateX(-100%);
    }
    &:hover:before {
      transform:  translateX(0);
    }
  }





.navContainer a:nth-child(1){
    animation-delay: .3s;
}
.navContainer a:nth-child(2){
    animation-delay: .6s;
}
.navContainer a:nth-child(3){
    animation-delay: .9s;
}
.navContainer a:nth-child(4){
    animation-delay: 1.2s;
}




.navLink.navContentAnim {
    animation: menuLink 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes menuLink{
    0%{
        transform: translateY(10px);
    }
    50%{
        
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}





/************************************************/